/*************
 * CSS RESET *
 *************/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    padding: 2rem;
    background: #222831;
    font-family: sans-serif;
}

/***************
 * HUIZEN CARD *
 ***************/

 .gridCard {
    grid-column: span 4;
    width: 100%;
    height: 35rem;
    box-shadow: 0 0.5rem 2rem black;
    position: relative;
}

@media(max-width: 56.25rem) {
    .gridCard {
        grid-column: span 6;
    }
}
@media(max-width: 32.5rem) {
    .gridCard {
        grid-column: span 12;
    }
}

.gridCard > a {
    text-decoration: none;
}

.gridCard > a > article {
    width: 100%;
    height: 100%;
}

/* Needed for drinks index */
.gridCard > article {
    width: 100%;
    height: 100%;
}

.gridCard__header {
    width: 100%;
    height: 20%;
}

.gridCard__heading {
    padding-left: 2rem;
    color: #eeeeee;
}

.gridCard__figure {
    width: 100%;
    height: 60%;
}

.gridCard__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gridCard__textSection {
    width: 100%;
    height: 20%;
}

.gridCard__text {
    padding-left: 2rem;
    color: #eeeeee;
}

/**************
 * SUSHI CARD *
 **************/

.sushiCard {
    width: 50vw;
    height: 80vh;
    margin: 0 auto;
    box-shadow: 0 0.5rem 2rem black;
    position: relative;
}

@media(max-width: 37.5rem) {
    .sushiCard {
        width: 35rem;
    }
}

@media(max-width: 25rem) {
    .sushiCard {
        width: 25rem;
    }
}

.sushiCard::after {
    content: "";
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(7, 104, 159, 0.3);
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.sushiCard__figure {
    width: 100%;
    height: 60%;
}

.sushiCard__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sushiCard__text {
    padding-left: 2rem;
    color: #eeeeee;
    height: 20%;
    display: flex;
    align-items: center;
}

.sushiCard__btnSection {
    height: 20%;
    padding-left: 2rem;
}

.sushiCard__button {
    font-size: 120%;
    width: 25rem;
    height: 6rem;
    box-sizing: border-box;
    background: #07689f;
    border: none;
    color: #eeeeee;
    box-shadow: 0 0 5rem rgba(7, 104, 159, 0.7);
    transition: 0.2s all;
}

@media(max-width: 37.5rem) {
    .sushiCard__button {
        width: 15rem;
    }
}

.sushiCard__button:hover {
    cursor: pointer;
    box-shadow: 0 0 5rem rgba(7, 104, 159, 0.9);
}

.sushiCard__back_to_home {
    display: block;
    margin-top: 2rem;
    color: #eeeeee;
}

/***************
 * HUIZEN CARD *
 ***************/

.gridCard {
    grid-column: span 4;
    width: 100%;
    height: 35rem;
    box-shadow: 0 0.5rem 2rem black;
    position: relative;
}

@media(max-width: 56.25rem) {
    .gridCard {
        grid-column: span 6;
    }
}
@media(max-width: 32.5rem) {
    .gridCard {
        grid-column: span 12;
    }
}

.gridCard > a {
    text-decoration: none;
}

.gridCard > a > article {
    width: 100%;
    height: 100%;
}

/* Needed for drinks index */
.gridCard > article {
    width: 100%;
    height: 100%;
}

.gridCard__header {
    width: 100%;
    height: 20%;
}

.gridCard__heading {
    padding-left: 2rem;
    color: #eeeeee;
}

.gridCard__figure {
    width: 100%;
    height: 60%;
}

.gridCard__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gridCard__textSection {
    width: 100%;
    height: 20%;
}

.gridCard__text {
    padding-left: 2rem;
    color: #eeeeee;
}

/* Style for Kind-of-Sushi */
.gridCard::after {
    content: "";
    width: 10%;
    height: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}
.gridCard[data-kind-of-sushi="Maki"]::after {
    background: #fed049;
}
.gridCard[data-kind-of-sushi="Nigiri"]::after {
    background: #f6f7d7;
}
.gridCard[data-kind-of-sushi="Sashimi"]::after {
    background: #ff5722;
}
.gridCard[data-kind-of-sushi="Temaki"]::after {
    background: #f73859;
}
.gridCard[data-kind-of-sushi="Uramaki"]::after {
    background: #0c056d;
}

.create-form {
    width: 40%;
    min-height: 70vh;
    margin: 0 auto;
    box-shadow: 0 0.5rem 2rem black;
    display: flex;
    color: #eeeeee;
}

.create-form__form {
    width: 90%;
    margin: 0 auto;
}

.create-form__section {
    margin-top: 4rem;
    font-size: 140%;
    width: 100%;
}

.create-form__input {
    display: block;
    margin-top: .5rem;
    width: 80%;
    font-size: 80%;
    font-weight: 400;
    font-family: sans-serif;
}

.create-form__input--big {
    height: 20rem;
}

.create-form__button {
    font-size: 100%;
    width: 25rem;
    height: 6rem;
    box-sizing: border-box;
    background: #07689f;
    border: none;
    color: #eeeeee;
    box-shadow: 0 0 5rem rgba(7, 104, 159, 0.7);
    transition: 0.2s all;
    margin-bottom: 2rem;
}

@media (max-width: 62.5rem) {
    .create-form {
        width: 90;
    }
}

/* Utility Classes */
.u-list-style-none {
    list-style: none;
}

.u-grid-gap-2 {
    gap: 2rem;
}

.u-grid-12 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.u-flex-v-center {
    display: flex;
    align-items: center;
}

.u-flex-h-center {
    display: flex;
    justify-content: center;
}

/* Animations */
.a-popup {
    animation-name: popup;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
}
.a-popup:nth-of-type(2n) {
    animation-delay: 0.1s;
}
.a-popup:nth-of-type(3n) {
    animation-delay: 0.2s;
}

@keyframes popup {
    0% {
        transform: scale(1.05) translateY(2rem);
        opacity: 0;
    }

    70% {
        transform: scale(1);
    }

    100% {
        opacity: 1;
    }
}